# **Hay varias bases de datos ficticias o de ejemplo que puedes usar para practicar SQL con DBeaver.**

1. # Sakila

DescripciÃ³n: Base de datos de ejemplo creada por MySQL, representa un videoclub con tablas como actor, film, customer, rental.

Ideal para: Practicar joins, agregaciones, subconsultas y manejo de fechas.

Descarga:
https://dev.mysql.com/doc/sakila/en/

CÃ³mo usarla en DBeaver:

Descarga el archivo SQL.

Crea una base de datos vacÃ­a en tu servidor local (MySQL o MariaDB).

Importa el script SQL en DBeaver (Right-click â†’ Tools â†’ Execute Script).

2. # Northwind

DescripciÃ³n: Base de datos de ejemplo de Microsoft, sobre una empresa de ventas. Tablas tÃ­picas: Customers, Orders, Products.

Ideal para: Practicar joins, GROUP BY, funciones agregadas y subconsultas.

Descarga:

Para MySQL: https://github.com/pthom/northwind_mysql

Para SQLite: https://github.com/jpwhite3/northwind-SQLite3

Uso en DBeaver: Igual que Sakila, solo importar el script.

3. # Chinook

DescripciÃ³n: Base de datos sobre una tienda de mÃºsica digital, con tablas como Album, Artist, Invoice, Customer.

Ideal para: Consultas sobre joins, agregaciones, anÃ¡lisis de ventas.

Descarga: https://github.com/lerocha/chinook-database

4. # Pagila

DescripciÃ³n: VersiÃ³n de Sakila adaptada para PostgreSQL.

Ideal para: Si quieres practicar en PostgreSQL especÃ­ficamente.

Descarga: https://github.com/devrimgunduz/pagila

5. # Bases de datos SQLite de ejemplo

Muchos recursos en GitHub tienen bases listas en formato .sqlite que DBeaver puede abrir directamente sin instalar nada.

Ejemplo: Chinook SQLite https://github.com/lerocha/chinook-database

# ðŸ’¡ Tip: Si quieres empezar rÃ¡pido en DBeaver:

Descarga una base en SQLite (Chinook o Northwind SQLite).

En DBeaver: Database â†’ New Database Connection â†’ SQLite â†’ File.

Â¡Ya puedes practicar sin instalar nada mÃ¡s!

# Que son las bases de datos?

Las bases de datos son sistemas organizados para almacenar, gestionar y recuperar informaciÃ³n de manera eficiente. 

Son como una versiÃ³n mucho mÃ¡s avanzada y poderosa de una hoja de cÃ¡lculo, diseÃ±adas para manejar grandes volÃºmenes de datos de forma rÃ¡pida, segura y ordenada.

# DefiniciÃ³n simple

Una base de datos (DB) es un conjunto de datos organizados, guardados en una computadora, al cual podÃ©s acceder, modificar o consultar mediante un sistema gestor de bases de datos (DBMS) como MySQL, PostgreSQL, SQLite, SQL Server, etc.

# Â¿QuÃ© tipo de datos guardan?

PrÃ¡cticamente cualquier cosa:

- Usuarios registrados

- Productos

- Ventas

- Libros 

- Sensores IoT

- Logs

Cualquier informaciÃ³n estructurada

# Componentes clave

**Tablas** â†’ como hojas de Excel

**Filas** = registros

**Columnas** = campos

**Relaciones** â†’ cÃ³mo se conectan las tablas entre sÃ­

**Consultas (SQL)** â†’ instrucciones para pedir o modificar datos

Ej: SELECT, INSERT, UPDATE, DELETE

**Ãndices** â†’ para buscar mÃ¡s rÃ¡pido

# Tipos de bases de datos
ðŸ”¹ **Relacionales (SQL)**

Las mÃ¡s comunes. Usan tablas y relaciones.
Ejemplos: MySQL, PostgreSQL, SQLite, SQL Server.

ðŸ”¹ **NoSQL**

MÃ¡s flexibles, no usan tablas.
Ejemplos: MongoDB (documentos), Redis (clave-valor).

# Â¿Para quÃ© sirven?

- Guardar datos de forma persistente

- Evitar duplicados

- Consultar grandes volÃºmenes de informaciÃ³n rÃ¡pidamente

- Mantener datos seguros

- Compartir datos entre mÃºltiples usuarios o sistemas

- Conectar aplicaciones webs, mÃ³viles, IoT, etc.

Una base de datos de una librerÃ­a podrÃ­a tener:

**Tabla libros**

| id	| titulo | precio |	stock |
|:-:|:-:|:-:|:-:|
| 1 |	La Odisea |	50 |	3 |
| 2 |	Harry Potter |	80 |	10 |

**Tabla categorias**

|id |	nombre |
|:-:|:-:|
|1 |	FantasÃ­a |
|2 |	Historia |

Luego podrÃ­as hacer una consulta SQL como:

SELECT titulo, precio 
FROM libros 
WHERE precio > 60;

# **Que quiere decir SQL?**

SQL significa **Structured Query Language**, que en espaÃ±ol es:

Lenguaje de Consulta Estructurado

Es un lenguaje que se usa para interactuar con bases de datos relacionales.

# **Para quÃ© sirve el SQL?**

**SQL te permite:**

- Consultar datos (SELECT)

- Insertar datos nuevos (INSERT)

- Modificar datos existentes (UPDATE)

- Eliminar datos (DELETE)

- Crear tablas y bases nuevas (CREATE)

- Definir relaciones entre tablas (FOREIGN KEY)

- Proteger y optimizar la base de datos

Todo eso usando comandos escritos en texto.

**Ejemplo en 1 lÃ­nea:**

            SELECT * FROM usuarios;


**Significa:** "Mostrame todos los datos de la tabla usuarios".

# Â¿Por quÃ© se llama â€œestructuradoâ€?

Porque el lenguaje trabaja sobre datos organizados en tablas, con filas y columnas. No es un lenguaje desordenado; tiene reglas claras y estructuras definidas.

# **Importante:**

SQL **no es un gestor de base de datos**, sino el lenguaje que usan los gestores como:

- MySQL

- PostgreSQL

- SQLite

- SQL Server

- MariaDB

# **Lista simple de los comandos SQL bÃ¡sicos, con explicaciÃ³n y ejemplo para cada uno.**

# ðŸ“Œ **1. SELECT â€” Consultar datos**

Sirve para leer informaciÃ³n de una tabla.

**ExplicaciÃ³n:**

Pide datos y los muestra como un resultado.

**Ejemplo:**

            SELECT titulo, precio 

            FROM libros;


Trae las columnas titulo y precio de la tabla libros.

# ðŸ“Œ **2. WHERE â€” Filtrar resultados**

Se usa para aplicar condiciones.

**ExplicaciÃ³n:**

Selecciona solo las filas que cumplen cierta regla.

**Ejemplo:**

            SELECT *

            FROM libros 

            WHERE precio > 50;


Trae solo los libros cuyo precio es mayor a 50.

# ðŸ“Œ **3. INSERT â€” Insertar datos**

Agrega un nuevo registro.

**ExplicaciÃ³n:**

Inserta una fila dentro de una tabla.

**Ejemplo:**

        INSERT INTO libros (titulo, precio, stock)

        VALUES ('El Hobbit', 80, 10);


Agrega un libro nuevo en la tabla.

# ðŸ“Œ **4. UPDATE â€” Modificar datos**

Cambia valores existentes.

**ExplicaciÃ³n:**

Actualiza una o varias filas.

**Ejemplo:**

        UPDATE libros

        SET precio = 100

        WHERE titulo = 'El Hobbit';


Modifica el precio del libro â€œEl Hobbitâ€.

# ðŸ“Œ **5. DELETE â€” Borrar datos**

Elimina filas.

**ExplicaciÃ³n:**

Borra registros. (âš ï¸ se debe usar con WHERE)

**Ejemplo:**

        DELETE FROM libros

        WHERE titulo = 'El Hobbit';


Elimina el libro â€œEl Hobbitâ€.

# ðŸ“Œ **6. CREATE TABLE â€” Crear una tabla**

Define una tabla nueva con columnas.

**ExplicaciÃ³n:**

Estructura donde se guardarÃ¡n datos.

**Ejemplo:**

        CREATE TABLE categorias (
            
            id INT PRIMARY KEY,
            
            nombre VARCHAR(100)

        );


Crea una tabla de categorÃ­as.

# ðŸ“Œ **7. ALTER TABLE â€” Modificar una tabla**

Permite agregar o cambiar columnas.

**ExplicaciÃ³n:**

Ajusta la estructura de la tabla.

**Ejemplo:**

        ALTER TABLE libros

        ADD COLUMN autor VARCHAR(100);


Agrega la columna â€œautorâ€ a la tabla libros.

# ðŸ“Œ **8. DROP TABLE â€” Borrar una tabla**

Elimina totalmente la tabla.

âš ï¸ Cuidado: se pierde todo.
**Ejemplo:**

        DROP TABLE categorias;

# ðŸ“Œ **9. ORDER BY â€” Ordenar resultados**

Ordena por una columna especÃ­fica.

**ExplicaciÃ³n:**

Ascendente (ASC) o descendente (DESC).

**Ejemplo:**

        SELECT titulo, precio

        FROM libros

        ORDER BY precio DESC;


Ordena los libros del mÃ¡s caro al mÃ¡s barato.

# ðŸ“Œ **10. LIMIT â€” Limitar cantidad de filas**

Sirve para mostrar solo un nÃºmero de resultados.

**Ejemplo:**

        SELECT * 

        FROM libros

        LIMIT 5;


Trae solo los primeros 5 libros.

# ðŸ“Œ **11. JOIN â€” Unir tablas**

Permite combinar datos de mÃºltiples tablas relacionadas.

**ExplicaciÃ³n:**

Muy usado cuando las tablas estÃ¡n conectadas por claves forÃ¡neas.

**Ejemplo:**

        SELECT l.titulo, c.nombre AS categoria

        FROM libros l

        JOIN categorias c ON l.categoria_id = c.id;


Une la tabla libros con categorias.

# **Doble JOIN** 

Es simplemente cuando en una misma consulta SQL unÃ­s mÃ¡s de dos tablas al mismo tiempo.

No existe un comando especial llamado asÃ­: es solo hacer JOIN + JOIN en cadena.

**Por quÃ© se usa?**

Porque muchas veces la informaciÃ³n estÃ¡ distribuida en varias tablas.

**Ejemplo tÃ­pico:**

- libros

- categorias

- autores

Si quiero traer datos del libro + su categorÃ­a + su autor, necesitÃ¡s 3 tablas, entonces hacemos 2 JOINs.

# **Ejemplo claro de doble JOIN**

Supongamos estas tablas:

ðŸ“˜ libros

| id | titulo | categoria_id | autor_id |

ðŸ·ï¸ categorias

| id | nombre |

âœ autores

| id | nombre |

**Consulta con doble JOIN:**

        SELECT l.titulo,
            
            c.nombre AS categoria,
            
            a.nombre AS autor

        FROM libros l

        JOIN categorias c ON l.categoria_id = c.id

        JOIN autores a ON l.autor_id = a.id;

# **Â¿QuÃ© pasa aquÃ­?**

**Primer JOIN:**

JOIN categorias c ON l.categoria_id = c.id

â†’ Une cada libro con su categorÃ­a.

**Segundo JOIN:**

JOIN autores a ON l.autor_id = a.id

â†’ Une cada libro con su autor.

ðŸ“Œ Resultado: una tabla combinada con datos de 3 tablas distintas.

# **CONSULTAS SQL (A | B | M | L)** 

Las consultas SQL son los "dialogos" o "preguntas" que se generan entre el usuario y el sistema gestor de bases de datos donde se encuentran almacenados ciertos datos

# **De Lectura**

- **SELECT**: Sentencia utulizada para especificar a que atributo (dato) se pretende acceder

- **FROM**: se utiliza con SELECT, para especificar desde que tabla (entidad) se pretende traer el dato

- **WHERE**: Sentencia para proponer la condicion especifica que debe cumplir el dato que se pretende traer (no es una sentencia obligatoria)

# **De Escritura** (Alta)

- **INSERT INTO**: Es utulizada para especificar en que tabla se pretende insertar un dato

- **VALUES**: Se utiliza en conjunto con INSERT INTO para especificar que valores iran en la tabla
Los valores siempre van entre parentesis separados por coma (,) y en caso de que sea string se pone entre comillas

# **De Modificacion**

- **UPDATE**: Es utilizada para especificar en que tabla se pretende modificar un dato

- **SET**: Se utiliza en conjunto con UPDATE para especificar cual sera el nuevo valor/dato

- **WHERE**: Sentencia para proponer la condicion especifica que debe cumplir el dato de referencia del registro que se pretende modificar (No es una sentencia obligatoria, pero si recomendada)

# **De Baja**

- **DELETE FROM**: Es utilizada para modificar un registro de una tabla de forma permanente 

- **WHERE**: Sentencia para proponer la condicion especifica que debe cumplir el dato de referencia del registro que se pretende dar de baja (No es una sentencia obligatoria pero si recomendada)

# **ORDER y GROUP BY** (De Orden y/o Agrupamiento)

**SE USAN EN CONJUNTO CON EL SELECT**

- **ORDER BY**: Es utilizada para especificar por que criterio se pretende ordenar los registros de una tabla

Con ORDER BY tambien se usa ASC Y DESC para ordenar de forma ascendente o descendente

            SELECT * 
            FROM empleado
            ORDER BY apellido ASC

En esta consulta, traemos todos los datos de la tabla empleados, y ordenamos teniendo en cuenta el apellido en orden ascendente (a->z)

- **GROUP BY**: Es utilizada para especificar por que criterio se puede agrupar los registros de una tabla

            SELECT cargo
            FROM empleado
            GROUP BY cargo

En esta consulta si hay varios empleados con el mismo puesto/cargo, solo se mostrara un cargo respectivo

# **FUNCIONES COMPLEMENTARIAS**

- **COUNT**

            SELECT COUNT(cod_prod) FROM productos

(cod_prod es la primary key de esa tabla)

**Consulta**: Seleccioname contando todos los productos de la tabla productos

Esto no devolvera los registros, sino que devolvera la cantidad de registros que tengo

- **MIN y MAX**

            SELECT MAX(precio) FROM productos

**Consulta**: traeme el precio maximo de la tabla productos

Esto devulve el Precio mas grande registrado

            SELECT MIN(precio) FROM productos

**Consulta**: traeme el precio minimo de la tabla productos

Esto devulve el Precio mas chico registrado

- **AVG** (Average) : calcula el promedio

- **SUM**: Suma valores (numericos)

**EJERCICIO**

1- Calcular un promedio de valores dentro de una tabla

**Ej**:el promedio de precios en la tabla productos

            SELECT AVG(precios) FROM productos

2- Calcular la cant total de productos en la tabla productos

**Ej**: calcular el total de productos de una tienda
            
            SELECT SUM(stock) FROM productos

(stock seria la columna en donde cada producto marca su stock o existencia correspondiente)

# **A estas consultas tambien se pueden aplicar condiciones y/o filtros**

**Ej**: Calcular el total de productos en stock de la marca XIAOMI

            SELECT SUM(stock) FROM productos
            WHERE marca = "XIAOMI"

# **JOIN, LEFT JOIN, RIGTH JOIN Y FULL JOIN**

**INNER JOIN** = JOIN Normal (INTERSECCION)
(Se utiliza en conjunto con el SELECT)

INNER JOIN busca unir dos tablas por algun dato que tengan en comun

1. Forma Implicita(Estamos ocultando el INNER JOIN, estamos usandolo indirectamente)

            SELECT * 
            FROM empleados, departamento
            WHERE empleado.id_departamento = departamento.id_departamento

No se escribe el INNER JOIN, en FROM, ya se escriben las tablas que seran utilizadas

2. Forma Explicita (Decimos que vamos a usar el INNER JOIN)

            SELECT * 
            FROM empleados
            INNER JOIN departamento
            ON empleado.id_departamento = departamento.id_departamento

con ON especificamos que dato de una tabla, coincide con el dato de otra tabla

# **LEFT JOIN**
Muestra el conjunto completo de los registros de la tabla A, con los registros que coincidan de la tabla B (si es que los hay)

![alt text](image.png)

**Ej:**

            SELECT * 
            
            FROM empleado

            LEFT JOIN departamento

            ON empleado.id_departamento = departamento.id_departamento

Traeme todo de empleado, uniendo por izquierda con departamento donde coincidan las id departamento

# **RIGHT JOIN**
Es el reflejo del Left Join. Muestra el conjunto completo de los registros de la tabla B, con los registros que coincidan de la tabla A (si es que los hay)

![alt text](image-1.png)

**Ej:**

            SELECT * 
            
            FROM empleado

            RIGHT JOIN departamento

            ON empleado.id_departamento = departamento.id_departamento