# **Hay varias bases de datos ficticias o de ejemplo que puedes usar para practicar SQL con DBeaver.**

1. # Sakila

Descripci√≥n: Base de datos de ejemplo creada por MySQL, representa un videoclub con tablas como actor, film, customer, rental.

Ideal para: Practicar joins, agregaciones, subconsultas y manejo de fechas.

Descarga:
https://dev.mysql.com/doc/sakila/en/

C√≥mo usarla en DBeaver:

Descarga el archivo SQL.

Crea una base de datos vac√≠a en tu servidor local (MySQL o MariaDB).

Importa el script SQL en DBeaver (Right-click ‚Üí Tools ‚Üí Execute Script).

2. # Northwind

Descripci√≥n: Base de datos de ejemplo de Microsoft, sobre una empresa de ventas. Tablas t√≠picas: Customers, Orders, Products.

Ideal para: Practicar joins, GROUP BY, funciones agregadas y subconsultas.

Descarga:

Para MySQL: https://github.com/pthom/northwind_mysql

Para SQLite: https://github.com/jpwhite3/northwind-SQLite3

Uso en DBeaver: Igual que Sakila, solo importar el script.

3. # Chinook

Descripci√≥n: Base de datos sobre una tienda de m√∫sica digital, con tablas como Album, Artist, Invoice, Customer.

Ideal para: Consultas sobre joins, agregaciones, an√°lisis de ventas.

Descarga: https://github.com/lerocha/chinook-database

4. # Pagila

Descripci√≥n: Versi√≥n de Sakila adaptada para PostgreSQL.

Ideal para: Si quieres practicar en PostgreSQL espec√≠ficamente.

Descarga: https://github.com/devrimgunduz/pagila

5. # Bases de datos SQLite de ejemplo

Muchos recursos en GitHub tienen bases listas en formato .sqlite que DBeaver puede abrir directamente sin instalar nada.

Ejemplo: Chinook SQLite https://github.com/lerocha/chinook-database

# üí° Tip: Si quieres empezar r√°pido en DBeaver:

Descarga una base en SQLite (Chinook o Northwind SQLite).

En DBeaver: Database ‚Üí New Database Connection ‚Üí SQLite ‚Üí File.

¬°Ya puedes practicar sin instalar nada m√°s!

# Que son las bases de datos?

Las bases de datos son sistemas organizados para almacenar, gestionar y recuperar informaci√≥n de manera eficiente. 

Son como una versi√≥n mucho m√°s avanzada y poderosa de una hoja de c√°lculo, dise√±adas para manejar grandes vol√∫menes de datos de forma r√°pida, segura y ordenada.

# Definici√≥n simple

Una base de datos (DB) es un conjunto de datos organizados, guardados en una computadora, al cual pod√©s acceder, modificar o consultar mediante un sistema gestor de bases de datos (DBMS) como MySQL, PostgreSQL, SQLite, SQL Server, etc.

# ¬øQu√© tipo de datos guardan?

Pr√°cticamente cualquier cosa:

- Usuarios registrados

- Productos

- Ventas

- Libros 

- Sensores IoT

- Logs

Cualquier informaci√≥n estructurada

# Componentes clave

**Tablas** ‚Üí como hojas de Excel

**Filas** = registros

**Columnas** = campos

**Relaciones** ‚Üí c√≥mo se conectan las tablas entre s√≠

**Consultas (SQL)** ‚Üí instrucciones para pedir o modificar datos

Ej: SELECT, INSERT, UPDATE, DELETE

**√çndices** ‚Üí para buscar m√°s r√°pido

# Tipos de bases de datos
üîπ **Relacionales (SQL)**

Las m√°s comunes. Usan tablas y relaciones.
Ejemplos: MySQL, PostgreSQL, SQLite, SQL Server.

üîπ **NoSQL**

M√°s flexibles, no usan tablas.
Ejemplos: MongoDB (documentos), Redis (clave-valor).

# ¬øPara qu√© sirven?

- Guardar datos de forma persistente

- Evitar duplicados

- Consultar grandes vol√∫menes de informaci√≥n r√°pidamente

- Mantener datos seguros

- Compartir datos entre m√∫ltiples usuarios o sistemas

- Conectar aplicaciones webs, m√≥viles, IoT, etc.

Una base de datos de una librer√≠a podr√≠a tener:

**Tabla libros**

| id	| titulo | precio |	stock |
|:-:|:-:|:-:|:-:|
| 1 |	La Odisea |	50 |	3 |
| 2 |	Harry Potter |	80 |	10 |

**Tabla categorias**

|id |	nombre |
|:-:|:-:|
|1 |	Fantas√≠a |
|2 |	Historia |

Luego podr√≠as hacer una consulta SQL como:

SELECT titulo, precio 
FROM libros 
WHERE precio > 60;

# **Que quiere decir SQL?**

SQL significa **Structured Query Language**, que en espa√±ol es:

Lenguaje de Consulta Estructurado

Es un lenguaje que se usa para interactuar con bases de datos relacionales.

# **Para qu√© sirve el SQL?**

**SQL te permite:**

- Consultar datos (SELECT)

- Insertar datos nuevos (INSERT)

- Modificar datos existentes (UPDATE)

- Eliminar datos (DELETE)

- Crear tablas y bases nuevas (CREATE)

- Definir relaciones entre tablas (FOREIGN KEY)

- Proteger y optimizar la base de datos

Todo eso usando comandos escritos en texto.

**Ejemplo en 1 l√≠nea:**

            SELECT * FROM usuarios;


**Significa:** "Mostrame todos los datos de la tabla usuarios".

# ¬øPor qu√© se llama ‚Äúestructurado‚Äù?

Porque el lenguaje trabaja sobre datos organizados en tablas, con filas y columnas. No es un lenguaje desordenado; tiene reglas claras y estructuras definidas.

# **Importante:**

SQL **no es un gestor de base de datos**, sino el lenguaje que usan los gestores como:

- MySQL

- PostgreSQL

- SQLite

- SQL Server

- MariaDB

# **Lista simple de los comandos SQL b√°sicos, con explicaci√≥n y ejemplo para cada uno.**

# üìå **1. SELECT ‚Äî Consultar datos**

Sirve para leer informaci√≥n de una tabla.

**Explicaci√≥n:**

Pide datos y los muestra como un resultado.

**Ejemplo:**

            SELECT titulo, precio 

            FROM libros;


Trae las columnas titulo y precio de la tabla libros.

# üìå **2. WHERE ‚Äî Filtrar resultados**

Se usa para aplicar condiciones.

**Explicaci√≥n:**

Selecciona solo las filas que cumplen cierta regla.

**Ejemplo:**

            SELECT *

            FROM libros 

            WHERE precio > 50;


Trae solo los libros cuyo precio es mayor a 50.

# üìå **3. INSERT ‚Äî Insertar datos**

Agrega un nuevo registro.

**Explicaci√≥n:**

Inserta una fila dentro de una tabla.

**Ejemplo:**

        INSERT INTO libros (titulo, precio, stock)

        VALUES ('El Hobbit', 80, 10);


Agrega un libro nuevo en la tabla.

# üìå **4. UPDATE ‚Äî Modificar datos**

Cambia valores existentes.

**Explicaci√≥n:**

Actualiza una o varias filas.

**Ejemplo:**

        UPDATE libros

        SET precio = 100

        WHERE titulo = 'El Hobbit';


Modifica el precio del libro ‚ÄúEl Hobbit‚Äù.

# üìå **5. DELETE ‚Äî Borrar datos**

Elimina filas.

**Explicaci√≥n:**

Borra registros. (‚ö†Ô∏è se debe usar con WHERE)

**Ejemplo:**

        DELETE FROM libros

        WHERE titulo = 'El Hobbit';


Elimina el libro ‚ÄúEl Hobbit‚Äù.

# üìå **6. CREATE TABLE ‚Äî Crear una tabla**

Define una tabla nueva con columnas.

**Explicaci√≥n:**

Estructura donde se guardar√°n datos.

**Ejemplo:**

        CREATE TABLE categorias (
            
            id INT PRIMARY KEY,
            
            nombre VARCHAR(100)

        );


Crea una tabla de categor√≠as.

# üìå **7. ALTER TABLE ‚Äî Modificar una tabla**

Permite agregar o cambiar columnas.

**Explicaci√≥n:**

Ajusta la estructura de la tabla.

**Ejemplo:**

        ALTER TABLE libros

        ADD COLUMN autor VARCHAR(100);


Agrega la columna ‚Äúautor‚Äù a la tabla libros.

# üìå **8. DROP TABLE ‚Äî Borrar una tabla**

Elimina totalmente la tabla.

‚ö†Ô∏è Cuidado: se pierde todo.
**Ejemplo:**

        DROP TABLE categorias;

# üìå **9. ORDER BY ‚Äî Ordenar resultados**

Ordena por una columna espec√≠fica.

**Explicaci√≥n:**

Ascendente (ASC) o descendente (DESC).

**Ejemplo:**

        SELECT titulo, precio

        FROM libros

        ORDER BY precio DESC;


Ordena los libros del m√°s caro al m√°s barato.

# üìå **10. LIMIT ‚Äî Limitar cantidad de filas**

Sirve para mostrar solo un n√∫mero de resultados.

**Ejemplo:**

        SELECT * 

        FROM libros

        LIMIT 5;


Trae solo los primeros 5 libros.

# üìå **11. JOIN ‚Äî Unir tablas**

Permite combinar datos de m√∫ltiples tablas relacionadas.

**Explicaci√≥n:**

Muy usado cuando las tablas est√°n conectadas por claves for√°neas.

**Ejemplo:**

        SELECT l.titulo, c.nombre AS categoria

        FROM libros l

        JOIN categorias c ON l.categoria_id = c.id;


Une la tabla libros con categorias.

# **Doble JOIN** 

Es simplemente cuando en una misma consulta SQL un√≠s m√°s de dos tablas al mismo tiempo.

No existe un comando especial llamado as√≠: es solo hacer JOIN + JOIN en cadena.

**Por qu√© se usa?**

Porque muchas veces la informaci√≥n est√° distribuida en varias tablas.

**Ejemplo t√≠pico:**

- libros

- categorias

- autores

Si quiero traer datos del libro + su categor√≠a + su autor, necesit√°s 3 tablas, entonces hacemos 2 JOINs.

# **Ejemplo claro de doble JOIN**

Supongamos estas tablas:

üìò libros

| id | titulo | categoria_id | autor_id |

üè∑Ô∏è categorias

| id | nombre |

‚úç autores

| id | nombre |

**Consulta con doble JOIN:**

        SELECT l.titulo,
            
            c.nombre AS categoria,
            
            a.nombre AS autor

        FROM libros l

        JOIN categorias c ON l.categoria_id = c.id

        JOIN autores a ON l.autor_id = a.id;

# **¬øQu√© pasa aqu√≠?**

**Primer JOIN:**

JOIN categorias c ON l.categoria_id = c.id

‚Üí Une cada libro con su categor√≠a.

**Segundo JOIN:**

JOIN autores a ON l.autor_id = a.id

‚Üí Une cada libro con su autor.

üìå Resultado: una tabla combinada con datos de 3 tablas distintas.